.dish {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_container {
        position: absolute;
        transform:translateY(-100%);
        width: 40rem;
        height: 45rem;
        z-index: 10;
        display: flex;
    }
    &__bowl {
        width: 10rem;
        position: absolute;
        bottom:-5.5rem;
        left:50%;
    }
}







