@font-face {
  font-family: 'Century Gothic Pro';
  src: url('./assets/fonts/CenturyGothicPro-Bold.woff2') format('woff2'),
      url('./assets/fonts/CenturyGothicPro-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Century Gothic Pro';
  src: url('./assets/fonts/CenturyGothicPro.woff2') format('woff2'),
      url('./assets/fonts/CenturyGothicPro.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'DeLittle Chromatic';
  src: url('./assets/fonts/DeLittleChromatic-Regular.woff2') format('woff2'),
      url('./assets/fonts/DeLittleChromatic-Regular.woff') format('woff');
  font-weight: 400;
}

:root {
    /* color css variables */
  --linear-gradient: linear-gradient(196deg, rgba(251,123,84,1) 28%, rgba(255,209,98,1) 84%);
  --primary-clr: rgba(100,39,10,1);
  --secondary-clr:rgba(250,7,62,1);
  --accent-clr: rgba(134,158,7,1);
  --overlay-clr: rgba(254,221,175,0.7);
  --white-clr: rgba(255,255,255,1);

  /* font family css variables */
  --primary-ff: 'Century Gothic Pro';
  --secondary-ff: 'DeLittle Chromatic';

  /* font weight */
  --regular-fw: 400;
  --bold-fw: 700;

  /* sizes */
  --xs:0.75rem;
  --sm: 1rem;
  --base: 1.3125rem;
  --lg: 1.1875rem;
  --xl: 2rem;
  --border-radius: 2rem;

}

body, 
dt, 
dd{
  font-family: var(--primary-ff);
  font-weight: var(--regular-fw);
  font-size:var(--base);
  color: var(--primary-clr);
}

dt, 
dd {
  font-weight: var(--bold-fw);
}

h1,h2 {
  font-family: var(--secondary-ff);
  color: var(--secondary-clr);
  font-size: var(--xl);
}

.title {
  padding: 3rem 2rem;
}

.link {
  display:block;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  padding: 1rem 0;
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: var(--overlay-clr);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-clr);
    border-radius: var(--border-radius);
}



/* css for baseLayout */
.primary-background {
  background: linear-gradient(196deg, rgba(251,123,84,1) 28%, rgba(255,209,98,1) 84%);
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.home img {
  width: 75%;
}

/* main layout */

.main-layout__main-container {
  border: 2px solid red;
  height: 100%;
  padding: 2rem 2rem 12rem 2rem;
  display: flex;
}
.main-layout__left-column{
  border: 2px solid blue;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.main-layout__left-column--flex-end {
    justify-content: flex-end;
}
.main-layout__right-column{
  border: 2px solid green;
  width: 20%;
  flex-shrink: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-layout__right-title {
  font-size: var(--xl);
  font-weight:var(--bold-fw);
  padding-bottom: 5rem;
}

/*  bowl layout */
.bowl__container {
  width: 35rem;
  padding: 10rem 2rem 2rem 0;
  margin: 0 auto;
  overflow-x: auto;
  display: flex;
  gap: 4rem;
}
.bowl__item {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

/* pay page */

.pay-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 6rem;
  font-size: var(--xl);
  padding: 3rem;
  &__title {
    color: var(--accent-clr);
  }
  &__instruction {
    font-weight: var(--bold-fw);
  }
}


/* final page */

.final-page { 
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.primary-background__animation { 
  width: 50rem;
  aspect-ratio:1/1;
}