@font-face {
  font-family: 'Century Gothic Pro';
  src: url('./assets/fonts/CenturyGothicPro.woff2') format('woff2'),
      url('./assets/fonts/CenturyGothicPro-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Century Gothic Pro';
  src: url('./assets/fonts/CenturyGothicPro.woff2') format('woff2'),
      url('./assets/fonts/CenturyGothicPro.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'DeLittle Chromatic';
  src: url('./assets/fonts/DeLittleChromatic-Regular.woff2') format('woff2'),
      url('./assets/fonts/DeLittleChromatic-Regular.woff') format('woff');
  font-weight: 400;
}

:root {
    /* color css variables */
  --linear-gradient: linear-gradient(196deg, rgba(251,123,84,1) 28%, rgba(255,209,98,1) 84%);
  --primary-clr: rgba(100,39,10,1);
  --secondary-clr:rgba(254,7,62,1);
  --accent-clr: rgba(134,158,7,1);
  --overlay-clr: rgba(254,221,175,1);
  --white-clr: rgba(255,255,255,1);

  /* font family css variables */
  --primary-ff: 'Century Gothic Pro';
  --secondary-ff: 'DeLittle Chromatic';

  /* font weight */
  --regular-fw: 400;
  --bold-fw: 700;

  /* sizes */
  --base: 1.3125rem;
  --xl: 2rem;


}

body{
  font-family: var(--primary-ff);
  font-weight: var(--regular-fw);
  font-size:var(--base);
}

h2 {
  font-family: var(--secondary-ff);
  color: var(--secondary-clr);
  font-size: var(--xl);
}

/* css for baseLayout */
.primary-background {
  background: linear-gradient(196deg, rgba(251,123,84,1) 28%, rgba(255,209,98,1) 84%);
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.home img {
  width: 75%;
}