@font-face {
  font-family: 'Century Gothic Pro';
  src: url('./assets/fonts/CenturyGothicPro-Bold.woff2') format('woff2'),
      url('./assets/fonts/CenturyGothicPro-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Century Gothic Pro';
  src: url('./assets/fonts/CenturyGothicPro.woff2') format('woff2'),
      url('./assets/fonts/CenturyGothicPro.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'DeLittle Chromatic';
  src: url('./assets/fonts/DeLittleChromatic-Regular.woff2') format('woff2'),
      url('./assets/fonts/DeLittleChromatic-Regular.woff') format('woff');
  font-weight: 400;
}

:root {
    /* color css variables */
  --linear-gradient: linear-gradient(196deg, rgba(251,123,84,1) 28%, rgba(255,209,98,1) 84%);
  --primary-clr: rgba(100,39,10,1);
  --secondary-clr:rgba(250,7,62,1);
  --accent-clr: rgba(134,158,7,1);
  --overlay-clr: rgba(254,221,175,0.7);
  --white-clr: rgba(255,255,255,1);

  /* font family css variables */
  --primary-ff: 'Century Gothic Pro';
  --secondary-ff: 'DeLittle Chromatic';

  /* font weight */
  --regular-fw: 400;
  --bold-fw: 700;

  /* sizes */
  --xs:0.75rem;
  --sm: 1rem;
  --base: 1.3125rem;
  --lg: 1.1875rem;
  --xl: 2rem;
  --border-radius: 2rem;

}
html {
    width: 100vw;
    height: 100vh;
    overflow: hidden
}

body, 
dt, 
dd{
  font-family: var(--primary-ff);
  font-weight: var(--regular-fw);
  font-size:var(--base);
  color: var(--primary-clr);
}

dt, 
dd {
  font-weight: var(--bold-fw);
}

h1,h2 {
  font-family: var(--secondary-ff);
  color: var(--secondary-clr);
  font-size: var(--xl);
}

.title {
  padding: 3rem 2rem;
}

.link {
  display:block;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  padding: 1rem 0;
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: var(--overlay-clr);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-clr);
    border-radius: var(--border-radius);
}



/* css for baseLayout */
.primary-background {
  background: linear-gradient(196deg, rgba(251,123,84,1) 28%, rgba(255,209,98,1) 84%);
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.home img {
  width: 75%;
}

/* main layout */

.main-layout__main-container {
  height: 100%;
  padding: 2rem 2rem 2rem 4rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}
.main-layout__left-column{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.main-layout__left-column--flex-end {
    justify-content: flex-end;
}
.main-layout__right-column{
  width: 20%;
  flex-shrink: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-layout__right-title {
  font-size: var(--xl);
  font-weight:var(--bold-fw);
  padding-bottom: 5rem;
}

/*  bowl layout */
.bowl__container {
  width: 35rem;
  padding: 10rem 2rem 2rem 0;
  margin: 0 auto;
  overflow-x: auto;
  display: flex;
  gap: 4rem;
}
.bowl__item {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

/* pay page */

.pay-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 6rem;
  font-size: var(--xl);
  padding: 3rem;
  &__title {
    color: var(--accent-clr);
  }
  &__instruction {
    font-weight: var(--bold-fw);
  }
}


/* final page */

.final-page { 
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.primary-background__animation { 
  width: 50rem;
  aspect-ratio:1/1;
}

/* custom ingredient placement for make your own */
.dish {
    .show {
        opacity: 1;
        transition: all 3s ease-in-out;
        transition-delay: 2s;
    }
}


.cucumber {
    top: -2rem;
    left: 4rem;
    transform: rotate(0deg);
}

.corn {
    top: -2rem;
    left: 4rem;
}

.cherry_tomatoes {
    top: -2rem;
    left: -1rem;
}

.sweet_potato {
    top: -2rem;
    left: -1rem;
}

.guacamole {
    top: -2.5rem;
    left: 3rem;
}

.mango {
    top: -2.5rem;
    left: 3rem;
}
.carrot {
    top: -3.25rem;
    left: 6rem;
}
.red_onion {
    top: -3rem;
    left: 6rem;
}

.edamame {
    top: -4rem;
    left: -1rem;
}
.seaweed_salad {
    top: -3.5rem;
    left: 2.5rem;
}

.feta_cheese {
    top: -4.25rem;
    left: 5rem;
}
.hummus { 
    top: -4.5rem;
    left: -2rem;
}
.beetroot {
    top: -4rem;
}
.jalapenos {
    top: -4rem;
    left: -2rem;
}
.baby_spinach {
    top: -4rem;
    left: 4rem;
}
.masago {
    top: -4.75rem;
    left: 4rem;
}
.spring_onions {
    top: -4.5rem;
    left: -4rem;
}
.fried_onions {
    top: -5rem;
    left: -4.5rem;
}
.sesame_mix {
    top: -5rem;
    left: -4.5rem;
}
.sesame_wasabi {
    top: -5.25rem;
    left: -4.5rem;
}
.sesame_soy {
    top: -5.25rem;
    left: -4.5rem;
}
.crushed_wasabi {
    top: -6rem;
    left: 2rem;
}
.sesame_bbq {
    top: -5.75rem;
    left: 2rem;
}
.shrimp_chips {
    top: -5.75rem;
    left: -2rem;
}
.walnuts {
    top: -6rem;
    left: -3.5rem;
}
.chili_flakes {
    top: -6.25rem;
    left: 3.5rem;
}
.pickled_ginger {
    top: -6.5rem;
    left: 2rem;
}
.nachos {
    top: -7rem;
    left: -2rem;
}
.farm_chicken {
    top: -6.5rem;
    left: -2rem;
}
.highland_steak {
    top: -7.25rem;
    left: 2.5rem;
}
.nordic_salmon {
    top: -7.25rem;
    left: 2.5rem;
}
.marinated_nordic_salmon {
    top: -8rem;
    left: 2.5rem;
}
.ahi_tuna {
    top: -8rem;
    left: -3rem;
}
.spicy_ahi_tuna {
    top: -9rem;
    left: -3rem;
}
.japanese_tofu {
    top: -9.25rem;
    left: -2rem;
}
.wasabi_mayo {
    top: -9.75rem;
    left: 4rem;
}
.chili_mayo {
    top: -9.75rem;
    left: 4rem;
}
.sweet_chili {
    top: -10.5rem;
    left: 4rem;
}
.teriyaki {
    top: -10.5rem;
    left: 6rem;
}
.sesame_dressing {
    top: -11.5rem;
    left: 7rem;
}
.sriracha_hot {
    top: -11.5rem;
    left: 7rem;
}
.avocado_garlic {
    top: -12rem;
    left: 1rem;
}
.cheesy_lemon_mayo {
    top: -12rem;
    left: 1rem;
}
.avocado {
    top: -12.75rem;
    left: 5rem;
}
.peanut_crumble {
    top: -12.75rem;
    left: 5rem;
}
.brown_rice {
    top: -13rem;
    left: -1rem;
}
.rice {
    top: -14rem;
    left: -1.5rem;
}
.sriracha_mayo {
    top: -14.5rem;
    left: 5rem;
}
.quinoa {
    top: -13rem;
    left: 1rem;
}
.salad {
    top: -13rem;
    left: 6rem;
}
.soy_sauce {
    top: -16.5rem;
    left: -3rem;
    z-index: -2;
}
