.steps {
  border-right: 4px solid var(--primary-clr);
  border-radius: 0.25rem;
  text-align: center;
  position: relative;
  padding-right: 1rem;
}
.step {
  padding: 1rem 0;
}

.step__items {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem 1rem;
  height: 18rem;
  overflow-y: auto;
}


.step__name {
  font-size: var(--xl);
  font-weight: var(--bold-fw);
}
.step::before {
  content: "";
  position: absolute;
  right: 0;
  transform: translateX(61%) translateY(14px);
  width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--white-clr);
}
.open::before {
  background-color: var(--secondary-clr);
}

.step__info {
  position: absolute;
  z-index:-50;
  opacity: 0;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.open .step__info {
  position: static;
  z-index:1;
  opacity: 1;
}

.step__items_to_choose {
  font-weight: var(--bold-fw);
}