.step {
  background-color: var(--overlay-clr);
  width: 7.5rem;
  height: 5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem 1rem;
  justify-content: flex-end;
  flex-shrink: 0;
  &__item_img {
    top: 0;
    right: 0;
    transform: rotate(9deg) translateY(-25%) translateX(-50%);
    position: absolute;
    width: 4rem;
  }
  &__item_price {
    color: var(--secondary-clr);
    font-weight: var(--bold-fw);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%) translateX(30%);
    z-index:10;
  }
  &__item_name {
    font-weight: var(--bold-fw);
    font-size: var(--sm);
    text-transform: capitalize;
  }
}
