.order__container {
  background-color: var(--accent-clr);
  width: 7rem;
  height: 11rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  font-weight: var(--bold-fw);
}

.order__delete_btn {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-25%) translateY(-25%);
}

.order__dish_container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 6rem;
  height: 5rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0.5rem;
  flex-shrink: 0;
}


.order__dish_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__dish_name {
  font-size: var(--sm);
}

.order__dish_price {
  font-size: var(--xl);
}