.order {
  background-color: var(--accent-clr);
  width: 7.5rem;
  height: 12.5rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  font-weight: var(--bold-fw);
  &__delete_btn {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
  }
  &__dish_container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 6rem;
    height: 5rem;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    flex-shrink: 0;
  }
}




.order_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:90%;
  justify-content: space-between;
  &__amount {
    font-size: var(--base);
  }
  &__name {
    font-size: var(--sm);
  }
  &__price {
    font-size: var(--xl);
  }
  &__bowl_size {
    font-size: var(--xs);
  }
}
