.check_out {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.check_out.ticket {
  border: 2px solid black;
  margin: 2rem;
  height: 95vh;
}

.check_out__footer {
  display: flex;
  align-items:center;
  gap: 1.5rem;
  justify-content:flex-end;
  padding: 2rem;
  margin-top: auto;
}

.check_out__price {
  color: var(--secondary-clr);
  font-weight: var(--bold-fw);
  font-size: var(--xl);
}