.nav{
  border-top: 6px solid var(--primary-clr);
  border-bottom: 6px solid var(--primary-clr);
  background-color: var(--white-clr);
  padding: 0 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--secondary-clr);
  font-family: var(--secondary-ff);
  font-size: var(--xl) ;
  text-align: center;
  gap: 0.5rem;
  &__item {
    padding: 2rem 0;
    width: 100%;
    transition: all 0.3 ease-in-out;
  }
  &__item[aria-current] {
    background-color: var(--overlay-clr);
    height:100%
  }
}
