.check_out_items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.check_out_item {
  background-color:var(--overlay-clr);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: var(--bold-fw);
  gap: 1.5rem;
  &__counter {
    width: 7rem;
    position: relative;
  }
  &__img {
    width: 2.5rem;
    
  }
  
  &__name {
    font-size: var(--xl)
  }
  
  &__price {
    width: 5rem;
    color: var(--secondary-clr);
    text-align: center;
    margin-left: auto;
  }
}
.check_out_item.ticket{
  background-color: rgba(0,0,0,0.05);
}

