.dish_card {
  width: 28.75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius:var(--border-radius);
  background-color: var(--overlay-clr);
}

.dish_card__header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.dish_card__price {
  font-size: var(--xl);
  font-weight: var(--bold-fw);
  color: var(--secondary-clr);
}

.dish_card__title {
  font-weight: var(--bold-fw);
  text-transform: capitalize;
}

.dish_card__btns {
  display: flex;
  gap: 1rem;
}