.dish_card {
  width: 28.75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius:var(--border-radius);
  background-color: var(--overlay-clr);
}

.dish_card__header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.dish_card__price {
  font-size: var(--xl);
  font-weight: var(--bold-fw);
  color: var(--secondary-clr);
}

.dish_card__title {
  font-weight: var(--bold-fw);
  text-transform: capitalize;
}

.dish_card__btns {
  display: flex;
  gap: 1rem;
}

.dish_card__input {
  border: 2px solid var(--primary-clr);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  text-align: center;
}
.dish_card__input:focus-within {
  border: 2px solid var(--accent-clr);
}

.dish_dropzone {
  border: 2px solid red;
  width: 7rem;
  aspect-ratio:1.5/1;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dish_drop__item {
  border: 2px solid green;
  width: 3.5rem;
}

.dish_drop__img {
  display: none;
}