.dish_card {
  width: 28.75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius:var(--border-radius);
  background-color: var(--overlay-clr);
  &__height {
      height: 38rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  &__price {
    font-size: var(--xl);
    font-weight: var(--bold-fw);
    color: var(--secondary-clr);
  }
  
  &__title {
    font-weight: var(--bold-fw);
    text-transform: capitalize;
  }
  
  &__btns {
    display: flex;
    gap: 1rem;
  }
  
  &__input {
    border: 2px solid var(--primary-clr);
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    text-align: center;
  }
  &__input:focus-within {
    border: 2px solid var(--accent-clr);
  }
}
